<div class="container">
    <h1>Settings</h1>
    <br>
  
    <div class="form-group">
      <label for="difficulty">Difficulty</label>
      <input type="number" class="form-control" id="difficulty" aria-describedby="difficultyHelp" [(ngModel)]="blockchain.difficulty">
    </div>
  
    <br>
  
    <div class="form-group">
      <label for="miningReward">Mining reward</label>
      <input type="number" class="form-control" id="miningReward" aria-describedby="miningRewardHelp" [(ngModel)]="blockchain.miningReward">
    </div>
  
  </div>