<div class="container">
    <br>
    <div>
        <button class="btn btn-dark" routerLink="/new/transaction/pending">Pending transactions</button>
        &nbsp;
        <button class="btn btn-dark" routerLink="/transactions">Transaction History</button>
    </div>
    <br><br>
    <h1>Blocks on chain</h1>
    <br>

    <div class="container" style="overflow-x: scroll;white-space: nowrap;">
        <app-block-view
            *ngFor="let block of blocks"
            [block]="block"
            [selectedBlock]="selectedBlock"
            (click)="showTransactions(block)"
        >
        </app-block-view>
    </div>
</div>

<br><br>

<div class="container">
    <h1>Transactions (block {{ getBlockNumber(selectedBlock) }})</h1>
    <app-transactions-table
        [transactions]="selectedBlock.transactions"
    >
    </app-transactions-table>
</div>