<div class="container">
	<h1>Create transaction</h1>
	<br>
	<h4>
		<strong>Balance:</strong>
		{{ currentBalance }}
	</h4>
	<br>

	<div class="form-group">
	    <label for="fromAddress">From address</label>
	    <input type="text" class="form-control" id="fromAddress" aria-describedby="fromAddressHelp" [(ngModel)]="walletKey.publicKey" disabled>
  	</div>

  	<div class="form-group" style="margin-bottom: 1rem; margin-top: 1rem;">
	    <label for="toAddress">To address</label>
	    <input type="text" class="form-control" id="toAddress" aria-describedby="toAddressHelp" [(ngModel)]="newTx.toAddress">
  	</div>

  	<div class="form-group" style="margin-bottom: 1rem;">
	    <label for="amount">Amount</label>
	    <input type="number" class="form-control" id="amount" aria-describedby="amountHelp" [(ngModel)]="newTx.amount">
  	</div>

  	<button (click)="createTransaction()" type="submit" class="btn btn-primary">Sign & create transaction</button>

</div>
